.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/
build/
gradle/
build.gradle
DataCenterSupervision.iml
gradle.properties
gradelew
gradelew.bat
local.properties
settings.gradle


