.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/
build/
gradle/
build.gradle
DataCenterSupervision.iml
gradle.properties
gradelew
gradelew.bat
local.properties
settings.gradle



app/build.gradle
.idea
app/build
app/libs
app/.gitignore
app/app.iml
app/proguard-rules.pro
build
gradle
libs
gradlew
gradlew.bat